@media (max-width: 768px) {
    .hero {
        gap: 10px;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    .hero h1 {
        font-size: 3vh;
    }

    .main_info {
        display: flex;
        flex-direction: column;
        border-top: 2px solid black;
        border-right: none;
    }   

    .projects {
        /*max-width: none;
        width: 100%;
        flex: auto;  */
        width: 100%;
        max-width: 100%;
    }

    .projects h2 {
        padding-left: 2vw;   /* заголовку отдельно */
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-family: cursive;
        border-bottom: 2px solid black;
        text-align: center;
    }

    .projects ul {
        list-style: none;
        font-size: 3vh;
        background-color: rgb(189, 226, 214);
    }

    .projects ul li {
        /*background-color: blueviolet;*/
        text-align: center;
        border-bottom: 2px solid black;
        padding: 2vh 2vw;
        box-sizing: border-box;
    }

    .projects a {
        color: black;
        text-decoration: none;
        font-size: 2.5vh;
    }

    .experience {
        flex: 1;
        min-width: 0;
        max-width:max-content;
        border-top: 2px solid black;
    }

    .experience h2 {
        padding-left: 2vw;   /* заголовку отдельно */
        padding-top: 2vh;
        padding-bottom: 2vh;
        font-family: cursive;
        text-align: center;
        border-bottom: 2px solid black;
        font-size: 3vh;
    }

    .experience h3 {
        font-family: cursive;
        padding-bottom: 2vh;
        padding-top: 2vh;
        padding-left: 2vw;
    }

    .experience p {
        padding-bottom: 1vh;
        font-size: 3vh;
        padding-right: 10vw;
        padding-left: 2vw;
    }

    .experience a {
        color: blue;
        text-decoration: none;
        padding-bottom: 2vh;
        padding-left: 2vw;
    }

    .experience article {
        border-bottom: 2px solid black;
        background-color: rgb(189, 226, 214);
        /*background-color: aqua;*/
        padding-left: 2vw;
        padding-bottom: 2vh;
    }

    .experience article:last-child {
        border-bottom: 2px solid black;
    }

    .education {
        flex: 1;
        min-width: 0;
        max-width:max-content;
    }

    .education h2 {
        padding-left: 2vw;   /* заголовку отдельно */
        padding-top: 2vh;
        padding-bottom: 2vh;
        font-family: cursive;
        text-align: center;
        font-size: 3vh;
    }

    .education p {
        padding-left: 4vw;
        padding-top: 2vh;
        padding-right: 2vw;
        font-size: 3vh;
    }

    .education h3 {
        padding-left: 4vw;
        padding-top: 2vh;
    }

    .education ul {
        padding-left: 4vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        list-style: none;
        font-size: 2.5vh;
    }

    .education ul li::before {
        content: "- ";
    }

    .reviews {
        padding-top: 3vh;
        padding-left: 3vw;
    }

    .reviews h2 {
        font-family: cursive;
        padding-bottom: 3vh;
        /*width: 100%;*/
    }

    .reviews-container {
        display: flex;
        flex-wrap: nowrap;          /* элементы в одну строку */
        overflow-x: auto;
        gap: 16px;                  /* отступы между элементами */
        padding: 10px;
        scroll-behavior: smooth;    /* плавная прокрутка */
    }

    .reviews-container article {
        border-radius: 30px;
        border: 2px solid black;
        /*width: 25vw;
        height: 20vh;*/
        flex: 1;
        min-width: 250px;
        max-width: 20vw;
        height: auto;  
        min-height: 20vh;
        display: flex;
        flex-direction: column;
    }

    .reviews p { 
        padding-top: 3vh;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 2vh;
        font-size: 2.5vh;
    }

    .reviews footer {
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 4vh;
        color: gray;
    }

    .reviews cite {
        font-style: normal;
    }
}